*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
}

a {
    text-decoration: none;
}

header{
    background-color: #437BE8;
    width: 100%;
    padding: 1rem;
}

h1 {
    text-align: center;
    color: azure;
    padding: 1rem;
}

footer{
    background-color: #437BE8 ;
    height: 5rem;
    width: 100%;
}

.titulo{
    font-size: 30px;
    font-weight: 400;
}

.texto{
    font-size: 18px;
}

header nav a {
    color: azure;
    font-weight: 600;
    margin-left: 3rem;
}

#btnLogin {
    color: azure;
    background-color: green;
    padding: .5rem;
    border-radius: 5px;
}

#btnCadastro {
    color: azure;
    background-color: rgb(198, 62, 166);
    padding: .5rem;
    border-radius: 5px;
}

main {
    padding: 4rem;
}

section {
    margin-top: 5rem;
}
